{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
    <form class="form-card" method="post">
        {% csrf_token %}
        <input
          class="form-card-title"
          type="text"
          name="titulo"
          placeholder="Título"
        />
        <textarea
          class="autoresize"
          name="detalhes"
          placeholder="Digite o conteúdo..."
        ></textarea>
        <textarea class="autoresize" name="tag" placeholder="Digite a tag..."></textarea>
        <button class="btn" type="submit">Criar</button>
    </form>
    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{note.title}}</h3>
                <div class="acoes">
                    <a href="delete/{{note.id}}">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="edit/{{note.id}}">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>
            </div>
            <div class="card-content">
                <p>{{note.content}}</p>
            </div>
            <div class="tags">
                <p>{{note.tag.title}}</p>
            </div>
        </div>
        {% endfor %}   
    </div>
</main>
<footer>
    <a class="btn-cancelar" href="tags">Lista de tags</a>
</footer>
<script type="text/javascript" src="{% static 'notes/getit.js' %}"></script>
{% endblock %}